.main {
    position: relative;
    height: 80vh;
}

.burrote {
    width: 27vw;
    position: absolute;
    right: 12vw;
    top: 6vh;
}

.burrote:hover {
    animation: mover-burro 0.3s infinite;
}

@keyframes mover-burro {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}